

body {
  background-image: url(https://cdn.discordapp.com/attachments/896059894162128918/984531623640981524/purple_nebula-Space_Photography_Desktop_Wallpaper_2560x1600.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
background-color: rgb(0, 0, 0);
color: rgb(255, 255, 255);
text-align: center; 
font-family: sans-serif;
}

#container {
background-color: rgba(0, 0, 0, 0.426);
border-radius: 8%;
width: 100%; 
max-width: 400px;
margin-top: 100px;
margin-inline: auto; 
border-style: none;
padding: 15px;
}

img {max-width: 90%;
}

h1 {margin-top: 5px; 
margin-bottom: 10px;
opacity: 0.9;
}

p { margin-bottom: 20px;
opacity: 0.7;
}

input, button {
  margin-inline: auto;  
display: block;
width: 80%;
padding: 10px;
font-size: 20px;
border-radius: 30px;
margin-bottom: 10px;
}

input {margin-bottom: 15px;
font-size: 18px;
width: 80%;
}

#btn {
  background-color: rgba(82, 21, 113, 0.509);
  background-image: linear-gradient(118deg, rgb(95, 0, 136),rgb(66, 5, 181),rgb(135, 3, 119));
  border: none;
  color: rgb(255, 255, 255);
  transition: filter .3s;
  width: 60%;
  margin-bottom: 20px;
  font-size: 16px;
 font-weight: 600;
  }

button:hover {
  filter: brightness(1.5);
  cursor: pointer;
}

#resposta {
  margin-top: 20px;
  transition: opacity 1s;
}

#resposta div {
  font-size: 16px;
  font-weight: normal;
  opacity: 0.5;
  margin-bottom: 10px;
}